<div class="container-fluid">
    <h4>Cart:{{counter}}</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">img</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">price</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of itemsInCart">
            <th scope="row" *ngIf="data.id!=0">{{data.id}}</th>
            <td *ngIf="data.id!=0"><img src={{data.imgurl}} class="imagesize" alt="Not Found"></td>
            <td *ngIf="data.id!=0">{{data.name}}</td>
            <td *ngIf="data.id!=0">{{data.quantity}}</td>
            <td *ngIf="data.id!=0">{{data.price}}</td>
            <td *ngIf="data.id!=0">{{data.quantity * data.price}}</td>
          </tr>
        </tbody>
        <tfoot>
            <th>Total Cost: {{totalcost}}</th>
        </tfoot>
      </table>
</div>
<div class="container-fluid">
    <app-product-list (newItemEvent)="gatherdetail($event)"></app-product-list>
</div>

