<!-- <p>{{getdate}}</p>

<p>{{getinfo}}</p>

<p>{{fname}}</p> -->

<!-- Task 1 -->
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">website</th>
        <th scope="col">company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of jsondata; let i=index">
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.address.street+","+data.address.city+","+data.address.zipcode}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.website}}</td>
        <td>{{data.company.name}}</td>
    </tr>
    </tbody>
</table>
<button (click)="getdata.chagedata()" class="btn btn-warning">Change</button>
<app-servicedatachange></app-servicedatachange> -->

<!-- Task 3 -->
<!-- <div class="row m-3">
    <div class="col-6">
            <div class="form-group col-6">
                <label>Name</label>
                <input type="text" [(ngModel)]="uname" (keyup)="onupdate()" class="form-control" placeholder="Provide Name">
            </div><br>
    </div>
    <div class="col-6">
        <app-servicedatachange></app-servicedatachange>
    </div>
</div> -->


<!--Task 4 Forms Template Driven -->
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp" class="w-100"
            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 ">Registration Info</h3>
            
            <form class="px-md-2" #myForm="ngForm" (ngSubmit)="getdata.onsubmit(myForm.value)">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Name</label>
                <input type="text" id="form3Example1q" class="form-control" name="name" [ngModel]="getdata.user.name"
                  required />
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker">
                    <label for="exampleDatepicker1" class="form-label" required>Select a date</label>
                    <input type="date" class="form-control" id="exampleDatepicker1" [ngModel]="getdata.user.date" name="date"
                      required />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label for="exampleDatepicker1" class="form-label" required>Gender</label>
                  <select class="select form-control" [ngModel]="getdata.user.gender" name="gender" required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1w">Contact</label>
                    <input type="text" id="form3Example1w" class="form-control" name="contact" [ngModel]="getdata.user.contact"
                      required>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="form3Example1w">Class</label>
                <select class="select form-control" [ngModel]="getdata.user.class" name="class" required>
                  <option value="Class 1">Class 1</option>
                  <option value="Class 2">Class 2</option>
                  <option value="Class 3">Class 3</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-lg mb-1" [disabled]="!myForm.form.valid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-servicedatachange></app-servicedatachange>

<!-- Task 5 Table of entered Value -->
<div class="container row m-0">
  <div class="col-3">
    <input type="number" class="form-control" #reqnum><br>
    <button class="btn btn-warning" (click)="printtable(reqnum.value)">Calculate</button>
  </div>
  <div class="container col-2 m-0 text-center">
    <table class="table">
      <tbody *ngFor="let v of tbl">
        <tr>
          <td scope="row">{{v}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
