<!-- Way 2 -->
<!-- <app-header></app-header> -->
<!-- <p>content works!</p> -->
<!-- Way 2  -->
<!-- <app-footer></app-footer> -->

<!-- Way 3 -->  
<!-- <app-header></app-header> -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="coverimgurl" class="d-block image-format" alt="Not Found">
      </div>
    </div>
</div>

<div class="card-group">
    <div class="card mt-3">
      <img [src]="cardimgurl1" class="card-img-top card1" alt="Not Found">
      <div class="card-body">
        <h5 class="card-title">LET US DELIGHT YOU</h5>
        <p class="card-text"> Delicious, handcrafted beverages and great-tasting food. The secret to making life better. </p>
      </div>
    </div>
    <div class="card mt-3">
      <img [src]="cardimgurl2" class="card-img-top card1" alt="Not Found">
      <div class="card-body">
        <h5 class="card-title">Tom Waits</h5>
        <p class="card-text">" You don't meet nice girls in coffee shops."</p>
      </div>
    </div>
    <div class="card mt-3">
      <img [src]="cardimgurl3" class="card-img-top card1" alt="Not Found">
      <div class="card-body">
        <h5 class="card-title">OPPORTUNITY</h5>
        <p class="card-text">To be more than an employee, to be a partner.</p>
      </div>
    </div>
    <div class="card mt-3">
      <img [src]="cardimgurl4" class="card-img-top card1" alt="Not Found">
      <div class="card-body">
        <h5 class="card-title">KEEP CALM COFFEE IS ON</h5>
      </div>
    </div>
  </div>