<!-- <div class="container m-0 p-0 row">
    <div class="col-6">
        <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
            <div>
                <label>
                    Name:
                    <input formControlName="name" class="form-control" placeholder="Provide Name">
                </label>
            </div>
            <div>
                <label>
                    Email:
                    <input formControlName="email" class="form-control" placeholder="Provide Email">
                </label>
            </div>
            <div>
                <label>
                    Message:
                    <input formControlName="message" class="form-control" placeholder="Provide Message">
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-2" [disabled]="!myform.valid">Submit</button>
        </form>
    </div>
    <div class="col-6"> -->
        <app-reactive-address-form></app-reactive-address-form>
    <!-- </div>
</div> -->